<form action="" #myForm="ngForm" (ngSubmit)="onSubmit()">
<div class="container bg_m">  
  <div class="row">
      <div class="col-lg-1 col-sm-1 p0"></div>
      <div class="col-lg-3 col-sm-3 p0">
        <a href=""><img src="assets/images/logo.png" alt="logo" class="logo"></a>
      </div>
      <div class="col-lg-8 col-sm-8 p0">
        <h5 class="txthead">Altran part of Capgemini</h5>
      </div>      
  </div>
  <div class="row">
    <div class="col-lg-12 p0">      
        <h5 class="txthead_1">Login Details</h5>         
    </div>
  </div>
  <div class="row bgclr_1">     
        <div class="col-lg-1 col-sm-1 p0">
          <div class=""></div>      
        </div>
        <div class="col-lg-2 col-sm-5 p0">
          <label for="">Username</label><br>
          <label for="">Password</label>
        </div>
        <div class="col-lg-8 col-sm-5 p0">
          <Input type="text" placeholder="Textbox" class="textboxes textboxes_1"><br>
          <input type="password" placeholder="password box" class="textboxes textboxes_2">
        </div>
        <div class="col-lg-1 col-sm-1 p0">
          <div class=""></div>      
        </div>      
  </div>
  <div class="row">
    <div class="col-lg-1 col-sm-1 p0">
      <div class="lbbgclr brdr"></div>      
    </div>    
    <div class="col-lg-10 col-sm-10 p0">
      <button type="submit" class="lbbgclr txtlogin brdr_b">Login Button</button>
    </div>
    <div class="col-lg-1 col-sm-1 p0">
      <div class="lbbgclr brdr"></div>      
    </div>
  </div>
  <div class="row lblclr">      
      <div class="col-lg-1 col-sm-1">
        <div class=""></div>      
      </div>
      <div class="col-lg-2 col-sm-4 p0">
        <label for=""><a href=""> Facebook</a></label><br>
        <label for=""><a href=""> Linked</a></label>
      </div>
      <div class="col-lg-8 col-sm-6 p0">        
        <label for=""><a href="">Contact Us</a></label><br>
        <label for=""><a href="">Branches</a></label>
      </div>
      <div class="col-lg-1 col-sm-1">
        <div class=""></div>      
      </div>    
  </div>
</div>
</form>


